.additional__text{
    margin:0;
    margin-left: 18px;
    margin-right: 18px;
    bottom:30px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}