@import url(__author/__author.css);
@import url(__image/__image.css);
@import url(__quote/__quote.css);

.comment{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    max-width:382px;
    
}

@media screen and (min-width:769px) and (max-width:1279px){
    .comment{
        width:calc((100% - 36px)/3);
    }
}

@media screen and (max-width:768px){
    .comment{
        align-items: center;
        margin-left:16px;
        margin-right:16px;
        margin-bottom:47px;
    }
}