.place__title{
    margin:0;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
}

@media screen and (max-width:767px){
    .place__title{
        font-size: 35px;
        line-height: 37px;
    }
}

@media screen and (max-width:640px){
    .place__title{
        margin-left:16px;
    }
}