.lead__image{
    width: 984px;
    height: auto;
    margin-top:78px;
    display:block;
    margin-right: auto;
    margin-left:auto;
}

@media screen and (max-width:767px){
    .lead__image{
        margin-top:32px;
    }
}

@media screen and (max-width:984px){
    .lead__image{
     width:100%; 
    }
}
